# Roblox / Rojo / Aftman
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.tmp
*.lock

# VS Code
.vscode/

# Rojo caches / outputs
build/
out/
.roblox/

# Aftman cache
.aftman/bin/
.aftman/cache/

# Logs / sistema
logs/
*.log
Thumbs.db
.DS_Store
    